h1 {
    padding: 60px 20px 0px;
    color: #2c3e50;
    text-align: center;
}

h6 {
    line-height: 24px;
    font-weight: 900;
    color: rgba(255, 0, 0, 0.7);
    margin: 0 24px;
    justify-self: flex-start;
}

p {
    line-height: 24px;
    margin: 24px 24px;
    color: #282931;
}

button {
    font-weight: 600;
    color: white;
    background: rgba(0,0,0,0.7);
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid rgba(255,255,255, 0.25);
    border-radius: 30px;
    transition: 0.2s ease-in;
    cursor: pointer;
    margin: 0 5px;
}

.SubSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-items: center;
}

.Buttons {
    justify-self: flex-end;
    margin: 0 24px;
}