/* Control size, etc. of the container */
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 40px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 1px #FD777F;
}

/* Control size, etc. of the eclipse logo */
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url('../images/eclipse.svg');
}

input:checked + .slider {
    background: #2c3e50;
}

input:focus + .slider {
    box-shadow: 0 0 3px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}