@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* global.css */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  /* make fonts look a little smoother (only on Safari) */
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
  background: #f3f3f3;
}

/* Override default text selection color */
::selection {
  background: rgba(154, 236, 219, 0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(154, 236, 219, 0.5); /* Gecko Browsers */
}

a {
  text-decoration: none;
  color: #fc427b;
  font-weight: 600;
}

.Hero {
  position: relative;
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.HeroGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 0 0;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  padding: 0;
  color: #141010;
  font-size: 60px;
  font-weight: 800;
}

.Hero p {
  font-size: 30px;
  line-height: 1.5;
  color: #141010;
  font-weight: 600;
}

.Animation {
  animation: HeroAnimation 2s cubic-bezier(0.4, 0, 0, 1.34);
}

.Logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 100px 0;
  justify-items: center;
}

.Logos a {
  text-decoration: none;
}

.Logos svg {
  height: 2.5em;
  width: 3em;
  position: relative;
  transition: 0.5s;
}

.Logos > a:nth-child(1) > svg > path {
  fill: #ff3333;
}

.Logos > a:nth-child(2) > svg > path {
  fill: #4875b4;
}

.Logos > a:nth-child(3) > svg > path {
  fill: black;
}

.Logos svg:hover {
  transform: translateY(-5px);
  /* bottom only shadow -set the spread (4th value) to negative of blur (3rd value) */
}

.Hero button {
  font-size: 22px;
  font-weight: 600;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin: 20px 0;
}

.Hero button:hover {
  padding: 10px 25px;
}

.Hero .HeartIcon {
  animation: 0.8s infinite HeartBeatAnimation;
  color: #ea2027;
  position: relative;
}

/* Heart beat  */
@keyframes HeartBeatAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes HeaderAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
  }
}

/* Fade-in content, from bottom to top */
@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 640px) {
  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 24px;
  }

  .Hero button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .Logos svg {
    width: 2em;
  }
}

.dark {
  background: #282c34;
  color: white;
}

.dark a {
  color: white;
}

.dark h1 {
  color: #ffa7c4;
}

.dark h2,
.dark h3,
.dark p,
.dark div {
  color: white;
}

.dark hr {
  color: white; /* old IE */
  background-color: white; /* Modern Browsers */
}

.dark path {
  fill: #ffa7c4;
}

.dark .Logos > a:nth-child(1) > svg > path,
.dark .Logos > a:nth-child(2) > svg > path,
.dark .Logos > a:nth-child(3) > svg > path {
  fill: white;
}

.dark .HeartIcon {
  color: #ffa7c4;
}

.dark ::-webkit-input-placeholder {
  /* Edge */
  color: rgba(255, 255, 255, 0.5);
}

.dark :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

.dark ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.dark input {
  border: 1px solid white;
  color: white;
}

.dark button {
  background: #ffa7c4;
  color: #282c34;
}

/* ----------------------------------------------
 * Animista animations
 * http://animista.net
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes BounceTopAnimation {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.75);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.75);
  }
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* ----------------------------------------
* animation flip-2-hor-top-1
* ----------------------------------------
*/
@-webkit-keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
